/* COMMONS  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',
        sans-serif;
}

body {
    height: 100vh;
    background: rgb(0, 150, 136);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 18%, rgba(215, 219, 214, 1) 18%);
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

/* CONTAINER COLONNE  */

.container-col {
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background-color: #fff;
    align-self: center;
}

.col-sx,
.col-dx {
    height: 100%;
}

.col-sx {
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.col-dx {
    width: 70%;
}

/* ============COLONNA SX  */


.header-col-sx {
    height: 10%;
    width: 100%;
    background-color: #eaeaea;
    border-right: 2px solid #e3e3e3;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* MAIN USER  */
.main-user {
    width: 80%;
    display: flex;
}

.main-user img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.main-user span {
    font-size: 14px;
    align-self: center;
}

.icon-user-container {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #b1b1b1;
}

/* / MAIN USER  */
/* NOTIFICATION  */

.notification {
    height: 13%;
    width: 100%;
    background-color: #8edafc;
    padding: 10px;
}

.notify-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.notify-container i {
    background-color: white;
    padding: 10px 8px;
    border-radius: 50%;
    color: #8edafc;
    margin-right: 10px;
}

.notify-container span {
    font-size: 14px;
    color: #23343b;
}

.notify-container p {
    font-size: 10px;
    text-decoration: underline;
    color: #6ca6bd;
}

/* / NOTIFICATION  */

/* SEARCH  */
.search {
    height: 7%;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-search {
    width: 95%;
    background-color: #fff;
    padding: 4px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 2px rgb(240, 240, 240);
}

.container-search i {
    font-size: 12px;
    padding: 0 5px;
    color: #e3e3e3;
}

.container-search input {
    border: none;
    width: 90%;
    color: #838383
}



/* / SEARCH  */

.contact-list {
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

.contact-user {
    height: 15%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}
.contact-user:hover{
    background-color: #e2e2e2;
}

.container-img-user {
    width: 15%;
    align-self: center;
}

.container-img-user img {
    width: 45px;
    border-radius: 50%;
}

.container-user-txt {
    width: 85%;
    font-size: 14px;
    align-self: center;
}


.container-user-txt p{
    font-size: 12px;
    margin-top: 2px;
    color: #888;
}

.active {
    background-color: rgb(209, 209, 209);
}

.none {
    display: none;
}

/* COLONNA DX  */

.header-col-dx {
    height: 10%;
    width: 100%;
    background-color: #eaeaea;
    border-right: 2px solid #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.main-user-dx {
    width: 30%;
    display: flex;
}

.user-text {
    align-self: center;
}

.user-text p{
    font-size: 10px;
}

.main-user-dx img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.icon-dx-container {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #b1b1b1;
}







.body-col {
    height: 80%;
    width: 100%;
    padding: 40px;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    flex-grow: 1
}

.text-area {
    width: 100%;  
    display:flex;
    position:relative;   
}

.text-sent{
    padding:15px;  
    border-radius: 10px;
    max-width: 40%;
    min-width: 20%;
    font-size: 12px;
    margin-top: 10px
}

.sent {
    margin-left: auto;
    background-color: #d5f9ba;
}

.received {
    background-color: #fff;
}

.message-content i{
    float: right;
    margin-left: 10px;
    color: #6b6b6b;
    opacity: 0;
}

.text-area .sent .message-content i:hover {
    cursor: pointer;
    opacity: 1;
}

.text-area .sent .menu-show {
    position: absolute;
    right: 2%;
    list-style: none;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 5px #888;
    z-index: 1;
    text-align: justify;
    color: rgb(78, 78, 78);
    margin-top: 10px;
    display: none;
}

.text-area .sent .menu-show.block{
    display:block
}


.text-area .received .menu-show {
    display: none;
}

.menu-show li{
    line-height: 20px;
}

.menu-show li:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.message-date {
    font-size: 9px;
    color: #888;
    margin-top: 10px;
    float: right;
}

/* FOOTER COL  */

.footer-col {
    height: 10%;
    width: 100%;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-footer {
    width: 10%;
    text-align: center;
    color: #6b7376;
}

.input-msg {
    width: 80%;
    
}

.input-msg input{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 20px;
}